/* Cores */
:root {
    --primary-color: #5271FF;
    --button-hover-color: #3E5BDB;
    --background-light-color: #F0F3FF;
    --text-background-dark-color: #E3E7FF;
    --footer-text-color: #00367D;
    --confirmation-color: #1dc1a4;
    --confirmation-hover-color: #1DB6C1;
    --denial-color: #FF577F;
    --denial-hover-color: #FD346F; 
}
.titlefilter{
    color: var(--footer-text-color);
}
/* Estilos Gerais */
main {
    flex: 1;
    background-color: var(--background-light-color);
}

html, body {
    height: 100%;
}

body {
    background-color: var(--background-light-color);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--footer-text-color);
    padding: 10px;
    text-align: center;
}


/* Header */
header {
    text-align: center;
    background-color: var(--background-light-color);
    padding: 20px;
    color: var(--footer-text-color);
}

/* Agendamento */
#agendamento {
    background-color: var(--background-light-color);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    width: 80%; /* Define a largura do agendamento */
}

/* Dados do Serviço */
#dados-servico {
    padding: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
}


/* Botões de Aceitar/Recusar */
#aceitar-recusar {
    margin-top: 20px;
}

.aceitar{
    background-color: var(--confirmation-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.recusar{
    background-color: var(--denial-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.aceitar:hover {
    background-color: var(--confirmation-hover-color);
}
.recusar:hover{
    background-color: var(--denial-hover-color);
}

.footertitle{
    color: var(--text-background-dark-color);
}

.navbar {
    background-color: var(--primary-color);
    border: none;
}

.navbar-brand {
    color: white;
}

.navbar-toggler-icon {
    background-color: white;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: var(--text-background-dark-color);
}

.navbar-nav .nav-link:hover {
    color: var(--text-background-dark-color);
}

.voltar{
    background-color: var(--denial-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.voltar:hover{
    background-color: var(--denial-hover-color);
}
