body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #F0F3FF; 
}

.container {
  height: 100vh;
  background-color: #F0F3FF; 
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  overflow: hidden; 
  overflow: auto; 
}

.container::-webkit-scrollbar {
  width: 6px;
}
  
  
p {
  margin: 5px 0;
  display: flex; 
  justify-content: center; 
  border: 1px solid #5271FF; 
  border-radius: 25px;
  padding: 10px 20px; 
  transition: background-color 0.3s; 
  background-color: #F0F3FF; 
}
  
.question {
  background-color: transparent; 
  border: none; 
  border-radius: 0; 
  justify-content: left;

}

.comentario {
  justify-content: left;
  background-color: transparent; 
  border: none; 
  border-radius: 0; 
}

.button-center {

  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
  text-align: center;
  border: 1px solid #1DC1A4;
  border-radius: 25px;
  padding: 10px 20px;
  transition: background-color 0.3s;
  background-color: #F0F3FF;
  cursor: pointer;
  color: #1DC1A4;
  font-weight: bold;
  margin-top: 10px;
  font-weight: bold;
}

.button-center:hover {
  background-color: #1DC1A4;
  color: #F0F3FF;
}

